@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans bg-ekoBlack text-white;
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  .lagos-gradient {
    background: linear-gradient(135deg, #FFD700 0%, #FFA500 100%);
  }
  .card-shadow:hover {
    box-shadow: 0 10px 15px -3px rgba(255, 215, 0, 0.2), 0 4px 6px -2px rgba(255, 215, 0, 0.1);
  }
}
